

<nav class="navbar relative navbar-expand-sm bg-primary navbar-dark ">
    <div class="container-fluid">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" style="font-size:33px;" href="#">Restorant App</a>
        </li>
      </ul>
    </div>
       
    <div class="dropdown dropstart">
      <button style="font-size: 20px; margin-right: 1rem;" class="btn btn-primary dropdown-toggle width" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
        Login
      </button>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
        <li><a class="dropdown-item" href="#">Admin</a></li>
        <li><a class="dropdown-item" href="#">Customer</a></li>
       
      </ul>
    </div>
</nav>

  